@main("Hexxagon") {

<div id="scorebarrefresh">
    <div id="nameP1"></div>
    <img id="gameImgP1" src='@routes.Assets.at("images/batman_small.png")'/>
    <div id="score">
        <span id="scoreP1"></span> : <span id="scoreP2"></span>
    </div>
    <img id="gameImgP2" src='@routes.Assets.at("images/opponent_small.png")'/>
    <div id="nameP2"></div>
</div></br>

<canvas id="HexCanvas" width="560" height="680"></canvas>

<script src='@routes.Assets.at("javascripts/hexagon-grid.js")'></script>
<script src='@routes.Assets.at("javascripts/hexagon-game.js")'></script>

}